/*

Global CSS File
Arthur Wuterich
10/22/2013

*/
/* Super global tags */
*
{
	margin:0em;
	padding:0em;
	color: #6e5543;
}
h1, h2, h3, h4, h5, h6
{
	color: #a28800;
}
h2, h3
{
	margin-bottom: 10px;
}
body
{
	background-image: url("../image/background_map.png"), url("../image/background.jpg");
	background-position: center top, top left;
	background-repeat: no-repeat, repeat;
	font-family: "Georgia", Serif;
}
a
{
	color:#d88018
}
p
{
	margin-bottom:10px;
}

/* Google Fonts */

@import url(http://fonts.googleapis.com/css?family=Oldenburg);

/* Body tags */
#header_bar
{
	width: 100%;
	height: 22px;
	background-image: url("../image/header_background.jpg");
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.13);
}
#content_wrapper
{
	margin: 0px auto 0px auto;
}
#content
{
	min-height:800px;
}

/* CONTENT */
#content_header
{
	width: 100%;
	margin-bottom:21px;
}
#content_header #logo
{
	width: 798px;
	height: 158px;
	background-image: url("../image/header_logo.png");
}
#main_content li
{
	position: relative;
	left: 20px;
}

/* MENU */
#content_header #nav
{
	text-align: center;
	border-bottom: 1px solid #B8B3A7;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.26 );
}

#content_header ul#nav
{
	padding-bottom: 20px;
}

#content_header #nav li
{
	display: inline;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
}
#content_header #nav li a
{
	color: #70492b;
	text-decoration: none;
}
#content_header #nav li a#jobs
{
	text-shadow: 0px 0px 20px rgba(255, 146, 38, 1);
}
#content_header #nav .first a
{
	color: #b7a042;
}

/* BULLETS */
#content_header #nav li:before
{
	color:#f8951e;
	content: '|';
	margin-right: 15px;
	font-size:15px;
}
#content_header #nav li.first:before
{
	content: '';
	margin-right: 0px;
	font-size: 0px;
}

#slide_show
{
	margin: 0px auto 0px auto;
	width: 940px;
	height: 460px;
	background-image: url("../image/slide_show_temp.jpg");
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
}
#slide_show img
{
	position:absolute;
}
#slide_show img.active
{
	z-index:3;
}

/* ARTICLES */
#articles
{
	width: 100%;
	height: 650px;
}
#main_article
{
	width: 100%;
}

/* Articles General */
.article_header
{
	font-family: 'Oldenburg';
	font-size: 24px;
	color: #a28800;
}

/* Main Article CSS */
#main_article .article_header
{
	padding-top: 54px;
	width: 620px;
	font-weight: bold;
	padding-bottom: 30px;
}
#main_article .article_content
{
	color: #6e5543;
	width: 620px;
	float: left;
}
#main_article .article_image
{
	float:right;
	width:300px;
	position:relative;
	top:15px; /* needed to get the basket over the bottom border */
}
#articles .main
{
	background-image: url("../image/triple_down_arrow.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	border-bottom: 1px solid #cab79d;
	padding-bottom: 0;
	margin-bottom: 49px;
}

/* Sub Articles General*/
.content_col .article_header
{
	padding-bottom: 13px;
}
.content_col
{
	width: 29%;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 23px;
	float: left;
	color: #6e5543;
}
.content_col a
{
	display: block;
}
.calendar
{
	position: relative;
	right: 0px;
}
#footer_bar
{
	width: 100%;
	height: 75px;
	border-top: 6px solid #f8941f;
	background-image: url("../image/footer_background.jpg");
	margin-top:23px;
	clear: both;
}
#footer_copyright
{
	width: 100%;
	color: #cab79d;
	text-align: center;
	position: relative;
	right: 208px; /* Using this rather than JS to calc nav width */
}
.facebook_icon
{
	float: right;
	margin-right:300px;
}

/* FOOTER MENU */
#footer_bar #nav
{
	width: 100%;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 0px;
}
#footer_bar #nav li
{
	display: inline;
	padding-right: 6px;
	font-size: 11px;
	font-weight: bold;
	color: #cab79d;
}
#footer_bar #nav li a
{
	text-decoration: none;
	color: #cab79d;
}

/* BULLETS */
#footer_bar #nav li:before
{
	color:#cab79d;
	content: '|';
	margin-right: 6px;
	font-size:15px;
}
#footer_bar #nav li.first:before
{
	content: '';
	margin-right: 0px;
	font-size: 0px;
}

#content .content_col img
{
	margin-top:8px;
	border: 3px solid #FFF;
	border-radius: 2px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
}

/* Tribal Government */
#gov_people
{
}
#gov_people .list
{
	list-style-type: none;
}
#gov_people img
{
	margin-right: 10px;
}
#gov_people li
{
	border-bottom: 1px solid #B8B3A7;
	border-bottom: 1px solid rgba(0, 0, 0, 0.13);
	margin-bottom:20px;
}
#gov_people .title
{
	font-size: 20px;
	margin-bottom: 5px;
}
#gov_people .description
{
}
#gov_people img, iframe
{
	float:left;
	border: 3px solid #FFF;
	border-radius: 2px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
}

/* About News */
#about .title
{
	width: 100%;
	font-weight: bold;
	text-align: center;
}
#about .list
{
}
#about .list li
{
	margin-bottom: 10px;
}
/* Tribal Programs and Services */
#tribal_pro_ser
{
}

/* Culture */
#culture
{
}
#culture img
{
	float: left;
	display: block;
	margin: 0px 10px 10px 10px;
	border: 1px solid #f8951e;
	width: 55%;
}
#culture li
{
	margin-bottom:10px;
}
#culture li .date
{
	font-weight: bold;
}

/* Contact Us */
#contact
{
}
#contact p
{
	float:left;
}
#contact .address
{
}
#contact .google_map
{
	float:right;
}
#contact .view_larger_map
{
	float:right;
	clear:left;
}

#program ul, #program ol
{
	margin:15px;
}
#program_department
{
	font-size: 30px;
	font-weight: bold;
}
#program_mission:before, #program_main_function:before, #program_current_services:before, #program_contact:before
{
	display: inline-block;
	width: 100%;
	font-size: 20px;
	text-align: left;
	border-bottom: 1px solid #B8B3A7;
	border-bottom: 1px solid rgba( 0, 0, 0, 0.26 );
	margin-bottom: 15px;
}
#program_department, #program_mission, #program_main_function, #program_current_services, #program_contact
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}
#program_mission:before
{
	content: "Mission";
}
#program_main_function:before
{
	content: "Main Functions";
}
#program_current_services:before
{
	content: "Current Services";
}
#program_contact:before
{
	content: "Contact";
}
#program .no_header:before
{
	border-bottom: 0px;
	content: '';
}
#program .frequently_asked_questions:before
{
	content: "Frequently Asked Questions";
}
#calendar
{	/* This is such a large number because of the iFrame */
	padding-bottom: 600px;
}

#job_list li a
{
	display: inline;
}

/* General Classes */
.site_content_width
{
	width: 950px;
}
.clear
{
	content:"";
	clear:both;
}
.clear_left
{
	clear:left;
}
.clear_right
{
	clear:right;
}
.sub_page
{
	padding-right: 40px;
	padding-left: 40px;
}
.sub_page .sub_page
{
	padding-right: 0px;
	padding-left: 0px;
}

/*
*
*
*
*
BLOG SPECIFIC STYLE
*
*
*
*
*/

#blog-content
{
	width:650px;
	float:left;
	position:relative;
	padding-right:20px;
}
#blog-sidebar
{
	width:250px;
	float:left;
	position:relative;
	padding-left:20px;
	min-height:800px;
}
article
{
	margin-bottom:50px;
}
#blog-sidebar li
{
	list-style-type: none;
	margin-bottom:20px;
}

#loginForm label, #registerForm label, #editForm label {display: inline-block;}

#loginForm label {width:75px;}

#registerForm label {width:125px;}

#editForm label {width: 150px;}
